@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Roboto&family=Roboto+Mono:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(39, 35, 247);
    overflow-x: hidden;
    transition: 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background-color: black;
}

/* Button to open the sidebar */
#openBtn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-image: url(/Assets/arroe-right.png);
}

/* Button to close the sidebar */
#closeBtn {
    position: absolute;
    top: 10px;
    left: 200px;
}


body {
    background-color: #071952;
}

.header {
    position: absolute;
    top: 15px;
    width: 30%;
    background-color: #0B666A;
    border: 2px solid white;
    text-align: center;
    padding: 2px;
    border-radius: 30px;
}

.header h2 {
    color: white;
    font-size: 30px;
}

.content{
    height: 100vh;
    width: 100vw;
    /* margin-top: 20px; */
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cards{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card {
    height: 50vh;
    width: 20vw;
    /* margin-left: 50px; */
    display: flex;
    background-color: rgb(253, 155, 155);
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
    flex-direction: column;
}

.card:hover {
    box-shadow: 5px 10px 18px #97FEED;
}

.circle {
    position: relative;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: black;
}

.topic {
    width: 130px;
    height: 30px;
    font-size: 15px;
    border: 1.5px solid #071952;
    background-color: #97FEED;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic h3 {
    cursor: pointer;
}

.button-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-hover:focus {
    outline: none;
}

.button-hover.button2 {
background-image: linear-gradient(to right,
        #0aabf0,
        #9a44eb,
        #fe04fe,
        #e70a1c);
box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
